nav {
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  ul {
    margin-left: 10px;
  }
  
  li {
    display: inline; 
    margin-right: 20px;
    padding: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  a:hover {
    color: #ddd;
  }
  button {
    background-color: #333;
    color: white;
    border: 1px solid rgb(184, 213, 235);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: auto;
    position: right;
  }
  button:hover {
    background-color: #ddd;
    color: #333;
  }
  span {
    padding: 10px 20px;
    color: rgb(184, 213, 235);
    font-size: 18px;
    margin-left: auto;
  }
  .userProfile {
    
    padding: 10px 20px;
    border-radius: 100%;
    background-color: rgb(184, 213, 235);
    padding: 10px 20px;
    color: #333;
    font-size: 18px;
    
  }
  